.ligth{
  color: hsl(229, 8%, 60%);
}
.dark{
  color: hsl(229, 31%, 21%);
}
.sec-hearder{
  text-align: center;
  font-size: 2.2rem;
  color: hsl(229, 31%, 21%);
  margin: 5px;
}
p{
  font-weight: 300;
}