
.nav{
    margin: 20px 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__hamburger{
        width: 30px;
        cursor: pointer;
        display: none;
    }
    &__logo{
        cursor: pointer;
    }
    &__list{
        display: flex;
        flex: 6;
        justify-content: flex-end;
        & li{
            list-style: none;
            text-transform: uppercase;
            margin: 0 22px;
            cursor: pointer;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            transition: all 0.3s ease;
            &:hover{
                color: hsl(0, 94%, 66%);
            }
        }
    }
    &__btn{
        transition: all 0.2s ease;
        background-color: hsl(0, 94%, 66%);
        text-transform: uppercase;
        color: white;
        padding: 10px 30px;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid hsl(0, 94%, 66%);
        margin: 0 40px;
        box-shadow: 0 0 9px 2px rgba(128, 128, 128, 0.185);
        cursor: pointer;
        &:hover{
            background-color: transparent;
            color: hsl(0, 94%, 66%);
            border: 1px solid hsl(0, 94%, 66%);
        }
    }
}

@media screen and (max-width: 930px) {
    .nav{
        margin: 20px;
    }
}
@media screen and (max-width: 772px) {
    .nav{
        &__list{
            display: none;
        }
        &__btn{
            display: none;
        }
        &__hamburger{
            display: block;
        }
    }
}

.mob-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 90%;
    opacity: 0;
    transform: translateY(-20px);
    
    & li{
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none;
        list-style: none;
        text-align: center;
        padding: 25px 0;
        color: rgb(217, 214, 228);
        border-top: 1px solid rgba(217, 214, 228, 0.274);
        text-transform: uppercase;
        font-weight: 300;
        width: 90%;
        font-size: 20px;
        letter-spacing: 3px;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover{
            color: hsl(0, 94%, 66%);
        }
    }
}

.mob-menu{
    margin: 0;
    top: 0;
    position: absolute;
    z-index: 2;
    background-color: rgba(11, 18, 56, 0.966);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0 0 0;
}
.mob-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    width: 90%;
    & img{
        cursor: pointer;
    }
}
.mob-nav__btn{
    padding: 14px 0;
    width: 100%;
    font-size: 20px;
    background: none;
    border: 3px solid rgb(217, 214, 228);
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    color: rgb(217, 214, 228);
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-weight: 600;
    transition: all 0.2s ease;
    &:hover{
        color: hsl(0, 94%, 66%);
        border: 3px solid hsl(0, 94%, 66%);
    }
}
.mob-icons{
    width: 50%;
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(-10px);
    & img{
        margin: 15px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover{
            transform: scale(110%);
        }
    }
}

.logomb{
    width: 150px;
}
.close{
    width: 35px;
}